@model IEnumerable<EntityLayer.Concrete.Comment>
@{
    var commentImages = ViewBag.CommentImages as List<string>;
    int index = 0;
}
<head>
    <style>
        .comment-user-image {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 10px;
        }
    </style>

</head>

<div class="comment-top">
	<h4>Yorumlar</h4>
	@foreach(var item in Model)
	{
        @if (index < commentImages.Count) 
        {
	<div class="media">
            <img src="@commentImages[index]" alt="User Image" class="comment-user-image" />
		<div class="media-body">
			<h5 class="mt-0">
				@item.CommentUserName
					<span class="badge badge-primary ml-2">@item.BlogScore / 10</span> <!-- Puanı ekledik -->
				</h5>
			<p>
				@item.CommentContent
			</p>

			
        </div>
    </div>
            index++; 
        }
    }
           	
</div>